.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.widgetBlock {
  display: grid;
  grid-template-columns: repeat(51, 1fr);
  gap: 2px;
  width: min-content;
}

.weekContainer {
  position: relative;
}
.monthName{
  position: absolute;
  translate: 50% -100%;
}
.contribution {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  height: 100%;
}
